*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{

}

body{
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.mt-5{
    margin-top: 20px;
}
.row{
    display: flex;
    /* flex-wrap: wrap; */
}

.col_10{
    flex-basis: 9%;
    padding: 0 5px;
}
.col_20 {
    flex-basis: 19%;
    padding: 0 5px;
}
.col_25{
    flex-basis: 24%;
    padding: 0 5px;
}
.col_30 {
    flex-basis: 29%;
    padding: 0 5px;
}
.col_40 {
    flex-basis: 39%;
    padding: 0 5px;
}
.col_50 {
    flex-basis: 49%;
    padding: 0 5px;
}
.col_60 {
    flex-basis: 59%;
    padding: 0 5px;
}
.col_70 {
    flex-basis: 69%;
    padding: 0 5px;
}
.col_80 {
    flex-basis: 79%;
    padding: 0 5px;
}
.col_90 {
    flex-basis: 89%;
    padding: 0 5px;
}
.col_100 {
    flex-basis: 99%;
    padding: 0 5px;
}
.text-center{
    text-align: center;
}



/* navbar start */

nav{
    background: #ccc;
    padding: 20px 0;
}
nav .logo{
    width: 100px;
}
nav ul {
    text-align: center;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px;
    color: #027BA7;
    font-weight: medium;
    font-size: 16px;
}
nav ul li a:hover{
    background: #027BA7;
    color: #fff;
}
nav ul.social_icon li a{
    margin: 0px;
    padding: 0;
}
nav ul.social_icon li a i{
    padding: 8px;
    color: #fff;
}
nav ul.social_icon li:nth-child(1){
    background: #3C5998;
}
nav ul.social_icon li:nth-child(2) {
    background: #3C5998;
}
nav ul.social_icon li:nth-child(3) {
    background: #3C5998;
}
nav ul.social_icon li:nth-child(4) {
    background: #3C5998;
}
nav ul.social_icon li:nth-child(5) {
    background: #3C5998;
}
.sticky_navbar{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}
/* navbar end */

/* hero_section */

.hero_section{
    background-image: url("../img/bg.jpg");
    padding: 100px 0;
    background-size: cover;
    background-position: center center;
    color: #fff;

}

.hero_section .box{
    background: #CACED0;
    padding: 120px 60px;
    border-radius: 5px;
    color: #111;
}
.hero_section .box h1{
    font-size: 34px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}
.hero_section .box p{
    font-size: 14px;
}
.hero_section .box .btn_box{
    margin-top: 20px;
}
.btn {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 25px;
    background: #027BA7;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
.hero_section .box .btn_box .btn{
    margin-right: 5px;
}

.service_section{
    padding: 30px 0;
    position: relative;
}

.service_section .box{
    text-align: center;
}

.service_section .box i{
    display: inline-block;
    background: #027BA7;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
}
.service_section .box h3{
    margin: 10px 0;
}
.service_section .box p{
    font-family: 'Courier New', Courier, monospace;
}
.service_section .box .btn{
    border-radius: 2px;
    margin-top: 10px;
}
.sticky{
    background: #000;
    padding: 5px;
    color: #fff;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 20%;
}
.fourth_section{
    padding: 30px 0;
}
.fourth_section .col_50{
    background: #027ba776;
    padding: 30px;
    border-radius: 3px;
    margin: 0 10px;
}
.fourth_section ul{
    margin: 10px 0;
}
.fourth_section ul li{
    margin: 5px 0;
}
.fourth_section .btn{
    border-radius: 2px;
    transition: .7s;
}
.fourth_section .btn:hover{
    background: transparent;
    color: #027BA7;
    border: 2px solid;
}